    .color-purple {
        background-color: purple;
    }
    
    .color-red {
        background-color: red;
    }
    
    .color-orange {
        background-color: orange;
    }
    
    .color-yellow {
        background-color: yellow;
    }
    
    .color-green {
        background-color: green;
    }
    
    .color-blue {
        background-color: blue;
    }
